<h1>Article Index Page</h1>
<%= render 'article' %>

<%= link_to 'Go To Article Listing', articles_path %>
<%= link_to 'Go To User Listing', users_path %>
<%= link_to 'Go To Sign Up', signup_path %>
<%= link_to 'About', about_path %>

