<h1>Article Index Page</h1>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
<%= render 'article' %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<%= link_to 'Go To Article Listing', articles_path %>
<%= link_to 'Go To User Listing', users_path %>
<%= link_to 'Go To Sign Up', signup_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Home', root_path %>

<% if logged_in? %>
    <%= "(Admin)" if current_user.admin? %>
    <%= link_to current_user.username, user_path(current_user) %>
    <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
    <%= link_to 'Login', login_path %>
<% end %>

