<h1>Showing Article</h1>

<h2>by <%= @article.user.username if @article.user %></h2>

<h2>Title      :<%= @article.title %></h2>
<h2>Description     :<%= @article.description %></h2>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to 'Return To Article Listing', articles_path %>
