<h1>Edit Profile Page</h1>

<%= render 'form' %>

<%= link_to 'Go To Article Listing', articles_path %>
<%= link_to 'Go To User Listing', users_path %>
<%= link_to 'Go To Sign Up', signup_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Home', root_path %>