<h1><%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>


<% if logged_in? && @user == current_user %>
    <%= link_to "Edit Your Profile", edit_user_path(@user) %>
    <%= link_to "Delete Your Profile",  user_path(current_user), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>

<h3>Articles</h3>

 <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

<%= render 'articles/article' %>

<hr/>
<%= link_to 'Go To Article Listing', articles_path %>
<%= link_to 'Go To User Listing', users_path %>
<%= link_to 'Go To Sign Up', signup_path %>
<%= link_to 'About', about_path %>

<% if logged_in? %>
    <%= link_to current_user.username, user_path(current_user) %>
    <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
    <%= link_to 'Login', login_path %>
<% end %>
